@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --primary-color: #4d07ae;
    --secondary-color: #cd8cf2;
    --accent-color: #51d6ed;
    --background-light: #ecf0f1;
    --text-color: #121111;
    --white: #fff;

}
.darkmode{--primary-color: #4d07ae;
    --secondary-color: #cd8cf2;
    --accent-color: #51d6ed;
    --background-light: #000000;
    --text-color: #ffffff;
    --white: #ffffff;}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--background-light);
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:20px;
    right:20px;
}
#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

#toggle-btn{
    padding: 0;
    background-color: var(--background-light);
    color: var(--text-color);
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:20px;
    right:100px;
}

/* Reset */
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Averia Libre"
}

/* body */

body{
    background-color: var(--background-light);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header */


header{
    background: var(--primary-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
    height:110px;
}

nav ul{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: center;
    gap:20px;
}

nav ul li{
    display:inline;
    
}

nav a {
    color:var(--white);
    text-decoration: none;
    padding:10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover{
    color:var(--secondary-color);
}

/* layout */

.container{
    display:flex;
    gap:20px;
    max-width: 100vw;
    margin: 20px auto;
    padding: 20px;
}

main{
    flex:5;
    background:var(--background-light);
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);

}

.sidebar{
    flex: 1;
    background:var(--background-light);
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
}
.sidebar.hidden{
    display:none
}

/* Sections */

h1{
    color: var(--white);
} 

h2, 
h3 {
    color:var(--primary-color)
}

article{
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid var(--secondary-color);
    background: var(--background-light);
    border-radius: 5px

}

article img{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

audio{
    width: 100%;
    margin-top: 10px;
}

iframe{
    width:100%;
    margin-top:10px
}

/* Sidebar */

aside ul{
    list-style:none ;
    padding: 0;
}

aside a{
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3 ease;
}

aside a:hover{
    color:var(--accent-color);
}

/* Footer */

.stickyfoot{
    bottom:0;
    width:100%;
    position:sticky;
  
}
footer{
    position: sticky;
    text-align: center;
    background: var(--primary-color);
    color: var(--white);
    padding: 10px;
    margin: 10px;
}

footer a{
    text-decoration: none;
    color: var(--white);
    transition: color 0.3 ease;
}

footer a:hover{
    color:var(--accent-color);
}

/* Responsive Design */

@media(max-width:768px){
    .container{
        flex-direction: column;

    }
    .nav ul{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:480px){
    header{
        font-size: 14px
    }
    article{
        font-size: 15px
    }
}